# fly.toml app configuration file generated for school-backend on 2025-12-07T20:41:29+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'school-backend'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
